.error {
  /* position: absolute;
  bottom: 5px;
  right: 10%;
  color: #d31c1c;
  background: #ffcfcf;
  padding: 5px 30px;
  border-radius: 5px; */
  position: absolute;
  background: #ffcfcf;
  padding: 5px 30px;
  bottom: 40px;
  left: 20px;
  color: #d31c1c;
  /* padding:0; */
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .error {
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: #d31c1c;
    background: none;
    padding: 0;
    border-radius: 5px;
  }
}
