.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(231, 183, 250);
  padding: 10px;
  color: #004886;
  z-index: 1000;
}

.navlink {
  margin-right: 15px;
  text-decoration: none;
  color: #004886;
  font-size: 1.2rem;
}

.navlink:hover {
  text-decoration: underline;
  color: #1065c7;
}

#logoutBtn {
  background-color: #1389f0;
  padding: 0.7rem;
  border-radius: 5px;
  color: white;
  margin-right: 1rem;
  border: none;
  cursor: pointer;
}

#logoutBtn:hover {
  background-color: #047cdf;
}
