.mainContainer {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  padding: 20px;
  border: 1px solid #fff4ff;
  box-shadow: 0px 1px 6px 0 rgb(0 0 0 / 30%);
  width: 60%;
}

#heading {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.formContainer {
  width: 40%;
}

.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.imageContainer img {
  width: 80%;
  margin-left: 20%;
}

#preview {
  position: absolute;
  top: -85%;
  left: 15%;
  border-radius: 50%;
  object-fit: contain;
}

input {
  padding: 0.5rem;
  border: 1px solid rgb(219, 219, 219);
  outline: none;
  background-color: rgb(255, 233, 205);
  border-radius: 5px;
}

label {
  margin-bottom: 0.5rem;
}

.btn {
  padding: 0.7rem;
  border-radius: 5px;
  color: white;
  margin-right: 1rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
}

#submitBtn {
  background-color: #1389f0;
}
#submitBtn:hover {
  background-color: #047cdf;
}
#resetBtn {
  background-color: #dc3545;
}
#resetBtn:hover {
  background-color: #ce081c;
}

.profile label {
  text-align: center;
  cursor: pointer;
}

.bottomSection {
  margin-top: 2rem;
}
.bottomSection a {
  margin-left: 5px;
  text-decoration: none;
}

.bottomSection a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .imageContainer {
    display: none;
  }
  .formContainer {
    flex: 1;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }
}
